// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.section {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.form {
    display: grid;
    width: 20rem;
}

.object-fit-contain {
    object-fit: contain;
}
