/* (C) PLAY/PAUSE BUTTON */
#playButton {
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
    cursor: pointer;
}

/* (E) RANGE SLIDERS */
/* (E1) HIDE DEFAULT */

/* (E2) CUSTOM SLIDER TRACK */
/* #audioPlayerContainer input[type=range]::-webkit-slider-runnable-track {
    background: red;
} */

/* #audioPlayerContainer input[type=range]::-moz-range-track {
    background: #626262;
} */

/* (E3) CUSTOM SLIDER BUTTON */

/* #audioPlayerContainer input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fff;
} */

/* (F) VOLUME */
#volumeIcon {
    margin: 0 10px;
}

/* (G) PLAYLIST */
#playerPlaylist {
    width: 100%;
    padding: 10px;
    margin: 10px;
    color: #7e7e7e;
    background: #323232;
}

.playerSong {
    cursor: pointer;
    padding: 10px 0;
}

.playerSong.now {
    color: #fea;
}



/* 
.player-input[type="range"],
.player-input-sm[type="range"] {
  -webkit-appearance: none;
  outline: none;
  background: transparent;
}
.player-input[type="range"] {
  width: 100%;
}
.player-input-sm[type="range"] {
  width: 60%;
}
.player-input[type="range"]::-webkit-slider-runnable-track {
  border: 0;
  border-radius: 5rem;
  height: 5px;
  background: var(--clr-neutral-500);

}
.player-input-sm[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
}
.player-input[type="range"]::-webkit-slider-thumb,
.player-input-sm[type="range"]::-webkit-slider-thumb {
  border: 1px solid var(--clr-neutral-500);
  border-radius: 100vmax;
  width: 12.5px;
  height: 12.5px;
  background: var(--clr-bg-content);
  cursor: pointer;
  -webkit-appearance: none;
}
.player-input[type="range"]::-webkit-slider-thumb {
  margin: -4px 0 0 0;
}
.player-input-sm[type="range"]::-webkit-slider-thumb {
  margin: -6.25px 0 0 0;
} */

/* .sg-player-input input[type="range"] {
  position: relative;
  background: none;
  -webkit-appearance: none;
} */
/* .sg-player-input input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  background: var(--clr-neutral-500); */
  /* background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width)); */
/* } */
/* .sg-player-input input[type="range"]::-webkit-slider-thumb {
  /* position: relative; */
  /* border-radius: 100vmax;
  height: 12.5px;
  width: 12.5px;
  border: 1px solid var(--clr-neutral-300);
  background-color: var(--clr-neutral-100); */
  /* border: 0;
  background-color: transparent; */
  /* cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
} */
/* .sg-player-input input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background-color: var(--clr-neutral-300); */
  /* border: 1px solid var(--clr-neutral-300);
  background-color: var(--clr-neutral-100); */
/* } */



/* input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 48%;
  margin: 0;
  padding: 0;
  height: 19px;
  margin: 30px 2.5% 20px 2.5%;
  float: left;
  outline: none;
} */
/* input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
} */
/* input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
} */
/* input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: -7px 0 0 0;
} */

/* input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #007db5;
} */
/* input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
  background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #007db5;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #007db5;
} */
