:root {
    --box-shadow:  1px 1px 2px 0px rgba(0,0,0,0.15);

    --clr-neutral-100: #f8f9fa;
    --clr-neutral-200: #e6e6e6;
    --clr-neutral-900: #212427;
    --clr-primary: #5f3f6d;
    --clr-primary-hover: #432d4e;
    --clr-body-bg: var(--clr-neutral-200);
    --clr-body-bg-neutral: var(--clr-neutral-100);
    --clr-body-color: var(--clr-neutral-900);

    --ff-primary: 'Raleway', sans-serif;

    --fs-400: 0.8125rem;
    --fs-500: 0.9375rem;

    --fw-semi-bold: 600;
}

/*  Reset   */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, picture, svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*  Utility - Bootstrap */
.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

/*  HTML Elements */
body {
    font-family: var(--ff-primary);
    background-color: var(--clr-body-bg);
}

/*  General - Bootstrap */
.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    width: 100%;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/*  General */
.button {
    display: inline-flex;
    border: 0;
    border-radius: 2rem;
    padding: 0.75rem 1.675rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    line-height: 1;
    text-decoration: none;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary);
}

.button:hover, .button:focus {
    background-color: var(--clr-primary-hover);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*  Primary Navbar  */
.primary-header-content {
    border-radius: 0.75rem;
    padding: 0 3rem;
    min-height: 3.25rem;
    background-color: var(--clr-body-bg-neutral);
    box-shadow: var(--box-shadow);
}

.nav-list {
    display: flex;
    gap: clamp(var(--size-400), 2vw, var(--size-700));                                      /*  <---------- */
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-body-color);
}
.nav-list a:hover, .nav-list a:focus {
    color: var(--clr-primary);
}

.d-sm-none {
    display: none;
}

.nav-user-content {
    display: flex;
    border: 0;
    border-radius: 2rem;
    padding: 0.2rem 0.2rem  0.2rem 1rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary);
    cursor: pointer;
}

.nav-dropdown {
    display: none;
    position: absolute;
    border-radius: 0.5rem;
    padding: 1rem;
    top: 10vh;
    background-color: var(--clr-body-bg-neutral);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.nav-dropdown[data-visible] {
    display: block;
}

.nav-dropdown a {
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    text-decoration: none;
    color: var(--clr-neutral-900);
}

.nav-dropdown a:hover {
    color: var(--clr-primary);
}

.nav-user-icon {
    display: none;
    padding-right: 0.75rem;
}

.nav-avatar {
    border-radius: 100vmax;
    margin-left: 0.75rem;
    width: 32px;
    height: 32px;
}

.nav-dropdown {
    display: none;
    position: absolute;
    top: 10vh;
    z-index: 1;
    background-color: var(--clr-body-bg-neutral);
}

.nav-dropdown[data-visible] {
    display: block;
}

.nav-hamburger {
    display: none;
    cursor: pointer;
}

.nav-hamburger-bar1, .nav-hamburger-bar2, .nav-hamburger-bar3 {
    border-radius: 2rem;
    width: 35px;
    height: 5px;
    background-color: var(--clr-neutral-900);
    margin: 6px 0;
    transition: 0.4s;
}

.change .nav-hamburger-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .nav-hamburger-bar2 {
    opacity: 0;
}  
.change .nav-hamburger-bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 50em) {
    .primary-header[data-overlay]::before {
        content: '';
        position: fixed;
        inset: 0;
    }
    .primary-header-content {
        padding: 0 1rem;
        background-color: transparent;
        box-shadow: none;
    }
    .nav {
        display: none;
        position: fixed;
        margin-inline: auto;
        border-radius: var(--size-100);                                                     /*  <---------- */
        padding: var(--size-700);                                                           /*  <---------- */
        max-width: 35rem;
        inset: 7rem var(--size-400) auto;                                                   /*  <---------- */
        background: var(--clr-body-bg-neutral);
    }
    .nav[data-visible] {
        display: block;
    }
    .nav-list {
        display: grid;
        gap: var(--size-600);                                                               /*  <---------- */
        text-align: center;
        font-size: var(--fs-500);
        font-weight: var(--fw-semi-bold);
    }
    .nav-user-content {
        display: none;
    }
    .nav-user-icon {
        display: block;
    }
    .nav-hamburger {
        display: block;
    }
}

@media (min-width: 50em) {
    .d-md-inline-flex{
        display: inline-flex;
    }
}


/* --->>    Old Code    <<----*/
:root {
    --clr-primary-hover: #432d4e;
    --clr-secondary: #82688a;

    --fs-600: 1rem;
    --fs-700: 1.25rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;

    --size-600: 2rem;
    --size-900: 5rem;


    --size-100: 0.25rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}

.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700)
}
.fs-800 {
    font-size: var(--fs-800);
}

.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-medium {
    font-weight: var(--fw-medium);
}

.padding-block-900 {
    padding-block: var(--size-900);
}
.padding-inline-600 {
    padding-inline: var(--size-600);
}


@media (max-width: 50em) {
    section {
        display: none;
    }
}

/* content */
.even-columns {
    display: grid;
    gap: 1rem;
}

@media (min-width: 50em) {
    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.circle-img {
    border-radius: 100vmax;
    height: 42.5vh;
}

.circles {
    position: absolute;
    border-radius: 100vmax;
}

.c1 {
    z-index: -1;
    background-color: var(--clr-secondary);
    height: 100px;
    width: 100px;
    top: 27.5vh;
    right: 36vw;
}
.c2 {
    z-index: -1;
    background-color: var(--clr-secondary);
    height: 85px;
    width: 85px;
    top: 45vh;
    right: 10vw;
}
.c3 {
    z-index: -2;
    background-color: var(--clr-primary);
    height: 200px;
    width: 200px;
    top: 45vh;
    right: 12.5vw;
}
.c4 {
    z-index: -2;
    background-color: var(--clr-primary);
    height: 85px;
    width: 85px;
    right: 14vw;
    top: 17vh;
}
